<script type="text/javascript" src="../vue.js"></script>

<div id="app">
  <ul>
    <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
    <button @click="ingredients.push('spices')">Add New</button>
    <hr>
    <ul>
      <li v-for="person in persons">
        <div v-for="(value, key, index) in person">
          {{ key }}: {{ value }} {{ index }} 
        </div>
      </li>
    </ul>
    <span v-for="n in 10">{{ n }}</span>
    <hr>
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>{{ index }}</p>
    </template>
  </ul>
</div>

<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        {name: 'Max', age: 27, color: 'red'},
        {name: 'Anna', age: 'unknown', color: 'blue'}
      ]
    }
  });
</script>